<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".jxl" mimeType="image/jpeg-xl" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".webmanifest" mimeType="text/text" />
        </staticContent>
        <urlCompression doDynamicCompression="true" />
    </system.webServer>
</configuration>
